<div class="container">
  <div class="row mb-3">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <img src="../../../assets/imagens/foto1-home.png" />
    </div>
  </div>

  <div class="row gx-4">
    <div class="col-xs-12 col-md-6">
      <div class="d-flex flex-column p-3 align-items-center">
        <ul class="text">
          <li>Grãos Premium: Utilizamos apenas grãos 100% arábica de origem controlada e
            cultivados de maneira sustentável.</li>
          <li>Sustentabilidade: Valorizamos práticas ecológicas em todas as etapas,
            do cultivo à xícara.</li>
        </ul>
        <button type="submit" routerLink="/produtos" class="btn">
          COMPRE JÁ
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="../../../assets/imagens/foto 2 - tela home.jpg" style="height: 115px;" />
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="../../../assets/imagens/foto 3 - tela home.jpg" style="height: 115px;" />
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="../../../assets/imagens/foto 4 - tela home.jpg" style="height: 115px" />
    </div>
  </div>
</div>