<header class="header">
  <div class="imagem" style="width: 23%">
    <img
      src="../../../assets/imagens/logo-completo.png"
      alt="logo-header"
      class="logoNavBar"
    />
  </div>

  <div class="headerBtnGroup">
    <button routerLink="/home" class="navBtn">Home</button>
    <button routerLink="/adm" *ngIf="true" class="navBtn">Adm</button>
    <button routerLink="/produtos" class="navBtn">Produtos</button>
    <button routerLink="/contato" class="navBtn">Contato</button>
  </div>
</header>
