.header {
  width: 100%;
  min-height: 40px;
  background-color: #f6f4f3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
  border-bottom: solid 2px #86654b;
}
.logoNavBar {
  width: 280px;
}
.headerBtnGroup {
  display: flex;
  gap: 15px;
}
.navBtn {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #692100;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}
.navBtn:hover {
  border-bottom: 2px solid black;
}
