<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 titulo">
      <h2>NOSSOS PRODUTOS</h2>
    </div>
  </div>
  <br />
  <div class="row">
    <h6 style="font-family: 'Poppins', sans-serif; font-style: italic">
      Escolha abaixo os produtos que deseja e adicione no carrinho, após
      selecionar tudo <br />
      que deseja, clique em "Finalizar compra" logo abaixo:
    </h6>
  </div>
  <br />
  <div class="container-fluid">
    <p-carousel
      [value]="products"
      [numVisible]="4"
      [numScroll]="2"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="position-relative">
            <img
              [src]="product.image"
              [alt]="product.name"
              class="w-6 shadow-2"
              style="width: 100%; height: 9em"
            />

            <p-button
              *ngIf="getCartQuantity(product) > 0"
              icon="pi pi-times"
              styleClass="p-button-rounded p-button-danger p-button-outlined p-button-sm"
              (click)="confirmarRemocaoProduto(product)"
              style="position: absolute; top: 5px; right: 5px; background-color: #fff; border-radius: 30px; font-size: 18px !important;"
            >
              </p-button
            >
          </div>
          <div>
            <h4 class="mb-1">{{ product.name }}</h4>
            <h6 class="mt-0 mb-3">{{ "R$ " + product.price }}</h6>
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
            ></p-tag>
            <div class="car-buttons mt-5">
              <p-button
                label="Carrinho"
                icon="pi pi-plus"
                styleClass="p-button-secondary"
                (click)="adicionarAoCarrinho(product)"
                [disabled]="product.inventoryStatus === 'Sem Estoque'"
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>

    <div class="d-flex justify-content-center my-4">
      <p-button
        label="Finalizar compra"
        icon="pi pi-check"
        styleClass="p-button-success"
        (click)="finalizarCompra()"
        [disabled]="cartItems.length === 0"
      ></p-button>
    </div>

    <p-toast></p-toast>

    <div *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
