.titulo {
  display: flex;
  justify-content: center;
}

.titulo > h2 {
  font-size: 50px;
  color: #692100 !important;
}

.mb-3 {
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
}

.subtitulo {
  margin-top: 130px;
  margin-left: 40px;
  color: #692100;
  font-size: x-large;
  font-style: italic;
}

.texto {
  color: #000;
  margin-left: 40px;
}

.e-mail {
  color: #692100;
  text-align: center;
  font-size: x-large;
}

.email {
  display: inline-block;
  margin-left: 150px;
}

.formularioEmail {
  margin-top: 80px;
}

button {
  margin-left: 150px;
  border-radius: 20px;
  background-color: #692100;
  color: white;
  width: 50%;
  height: 50%;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  background-color: #5a4332;
  color: white;
}

button:active {
  background-color: #433023;
}

.row {
  margin-top: 3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .descricaoContato {
    margin-bottom: 2rem;
  }
}